
$navbar-teal: #b6e4ff;
$navbar-teal-hover: #a8defd;
$navbar-teal-active: #aaaaaa;
$bootstrap-teal: #e3f2fd;

$navbar-text: #0e5b88;
$navbar-font-size: 20px;
$navbar-option-padding: 8px;

$navbar-prev-color: #64d6eb;
